.Option {
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif !important;
  font-style: normal !important;
  color: #343a40 !important;
  display: block !important;
  text-align: right;
  padding-inline: 8.81px !important;
}

.Percentage {
  font-size: 12px !important;
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  font-style: normal !important;
  color: #ffffff !important;
  display: block !important;
  margin-left: 2px !important;
  margin-top: 2px !important;
}
